<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated stateMachineEditRules -->
      <package
            uri="http://www.example.org/stateMachineEditRules"
            class="stateMachineEditRules.StateMachineEditRulesPackage"
            genModel="model/stateMachineEditRules.genmodel"/>
   </extension>
   <extension
         id="executor"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="stateMachineEditRules.ApplicationExecutor">
         </run>
      </application>
   </extension>

</plugin>
